body{
  margin: 0;
  font-family: Roboto, Arial;
}

.forside-img{
  width: 100%;
}


.forside-img-box{
  position: relative;
  height: 1000px;
}

.serier-grid{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
  column-gap: 10px;
  height: 160px;
  overflow: hidden;
}
.serier-img{
 width: 100%;
 border-radius: 4px;
}

.serier-img-side-left {
  height: 100%;
  float: right;
  border-radius: 4px;
}

.serier-img-side-right {
  height: 100%;
  border-radius: 4px;
}
.forside-aldersgrense{
  position: absolute;
  right: 0px;
  bottom: 300px;
  background-color: black;
  width: 100px;
  color: white;
  font-size: 23px;
  opacity: 0.5;
  padding: 10px;
  padding-left: 12px;
}

.forside-tittel{
  position: absolute;
  top: 200px;
  left: 70px;
}

.forside-beskrivelse{
  position: absolute;
  top: 500px;
  left: 70px;
  right: 1200px;
  color: rgb(224, 224, 224);
  font-size: 21px;
}

.spill-av-button{
  position: absolute;
  top: 600px;
  left: 70px;
  font-size: 30px;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: rgb(204, 204, 204);
  z-index: 100 text;
}

.mer-informasjon-button{
  position: absolute;
  top: 600px;
  left: 280px;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(92, 92, 92);
  color: rgb(212, 209, 209);
}


.header{
  display: flex;
  position: fixed;
  z-index: 100;

  flex-direction: row;
  height: 65px;
  background: linear-gradient(rgb(22, 22, 22), transparent);
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
}


.left-section{
  display: flex;
  align-items: center;
  margin-right: 100px;
}



.netflix-logo{
  height: 30px;
  margin-right: 50px;
  margin-left: 50px;
}

.header-meny{
 margin-right: 25px;
 color: white;
 font-size: 14px;
 text-decoration: none;
 font-weight: 400;
 font-family: arial;
}
